{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите Ваш емаил" %}{% endblock %}

{% block content %}
<h1>{% trans "Подтвердите Ваш емаил" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Эта часть сайта требует от нас подтверждения того, что
    вы тот, кем вы себя называете. Для этого мы требуем, чтобы вы
    подтвердите право собственности на свой адрес электронной почты. {% endblocktrans %}</p>

<p>{% blocktrans %}Мы отправили вам электронное письмо для
    проверка. Щелкните ссылку в этом электронном письме. Пожалуйста
    свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Обратите внимание:</strong> Вы все еще можете <a href="{{ email_url }}">изменить Ваш емаил</a>.{% endblocktrans %}</p>


{% endblock %}
