
{% extends 'default.html' %}
{% load static %}

{% block content %}

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><h2>Координаты для связи:</h2></p>
                        <div class="my-5">


                            <p class="post-meta"><strong>Разработка: </strong> Slaykam</p>

                            <p class="post-meta"> <strong>  Email: </strong> destpoch@mail.ru</p> 

                            <p class="post-meta"> <strong>  Телефон для связи:</strong> +7 800</p>  
   
                         

                           
                            <!-- Divider-->
                            <hr class="my-4" />

                    </div>
                </div>


                        </div>
                    </div>
                </div>
            </div>
        </main>
 

        {% endblock content %}
