{% extends 'default.html' %}
{% load static %}

{% block content %}

        <!-- Post Content-->
        <hr class="my-4" />
            <div class="post-preview">


                    <h2 class="section-heading">{{post.post_title}}</h2>
                        <p> {{ post.post_text }}</p>
                        
                        <blockquote class="blockquote">Автор: {{ post.author_post }}, Дата: {{post.post_date|date:'d M Y'}}</blockquote>
 
                        
                        <div class="d-flex justify-content-end mb-4"> <a class="btn btn-primary text-uppercase" href="{% url 'post_update' post.id %}">Редактировать</a>
                            
                            '          ' <a class="btn btn-primary text-uppercase" href="{% url 'post_delete' post.id %}">Удалить</a>
                        </div>


                            {% if comments %}
                            <p><h3><strong>Комментарии: </strong></h3></p>
                        
                            {% for com in comments %}
                            <p> {{ com.comment_text }} </p>
                 <!--      <blockquote class="blockquote"> <strong> {{ com }} </strong> </blockquote> </p> --> 

                            {% endfor %}

                            {% endif %}
                            

                            <div class="d-flex justify-content-end mb-4"> <a class="btn btn-primary text-uppercase" href="{% url 'create_comment' post.id %}">Комментировать</a>
                            </div>
                            
                          


                
            </div>
        </article>



        {% endblock content %}


