{% extends 'default.html' %}
{% load static %}

{% block content %}

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <h2 class="section-heading">{{post.post_title}}</h2>
                        <p>{{ post.post_text }}</p>
                        <blockquote class="blockquote">Автор: {{ post.author_post }}, Дата: {{post.post_date|date:'d M Y'}}</blockquote>
                        <h3 class="section-heading">Комментарии</h3>
                        <p> {% for com in comments %}</p>
                        <p> {{ com }}</p> 
                        <p> {% endfor %}</p>   
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that hbefore.</p>
                        <p>As I stand greatest.</p>

                    </div>
                </div>
            </div>
        </article>

        <div class="d-flex justify-content-end mb-4"> <a class="btn btn-primary text-uppercase" href="{% url 'post_update' post.id %}">Редактировать</a></div>
    </div>
        <div class="d-flex justify-content-end mb-4"> <a class="btn btn-primary text-uppercase" href="{% url 'post_delete' post.id %}">Удалить</a></div>
    </div>


        {% endblock content %}


